@using Restaurant_Menus.ViewModels
@using Restaurant_Menus.Models

@model IndexViewModel
@{
    ViewData["Title"] = "Menu Sample";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

    <link href="~/css/pdfView.css" rel="stylesheet" />
    <script src="~/js/incrementing.js"></script>
    <script src="~/js/openPDF.js"></script>
</head>

<body>

    <div id="searchtext">
        <div class="split left">
            @Html.Partial("_PDF")
        </div>

        <div class="split right">
            <div id="controlPanel">
                <form class="form-inline">
                    <div>
                        <label for="name">File_ID: </label>
                        <input type="text" name="fileID" id="french-hens" value="@ViewData["file_id"]">
                        <div class="dec button">-</div>
                        <div class="inc button">+</div>

                    </div>
                    <div calss="pdfButton">
                        <input type="submit" value="Submit" id="submitButton" style="margin-top: 10px; margin-left: -60px;">
                    </div>
                </form>
            </div>

            <div id="divPartial">
                <partial name="_Table" model="Model" />
                <script type="text/javascript">
                    $(function () {
                        $('#approve-btn').click(function () {
                            $('#modal-container').modal('hide');
                        });
                    });
                </script>
            </div>


        </div>
    </div>
</body>

</html>